/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {

    main{
        position: relative;
        
        .top{
            position: relative;
            text-align: center;
            background-color: black;  
            border-radius: 10px;
            opacity: 0.4;
            box-shadow: $box-shadow2;
            min-height: auto;  
            margin: 0.5rem;
            padding: 0.5rem 0.1rem 1rem 0.1rem;
    
            &--title{
                position: relative;
                z-index: 10;
                color: $light;
            }
    
            &--sub{
                position: relative;
                z-index: 2;
                color: $light;
                line-height: 1.8rem;
                font-weight: 500;                
    
            }
    
            
        }
    }
  }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

   main{
    margin: 1rem;

    .top{

        margin-bottom: 1rem;

        
        &--title{
            font-size: 3rem;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        }
    
        &--sub {
            font-size: 2.5rem;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
            line-height: 3rem;
    
        }
    
       }
   }
    
}