.header{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--logo{
        display: flex;
        img{
            margin: 0 10px;
            width: 10rem;
            height: auto;

        }
    }

    &--navbar {
        margin-right: 100px;

        a{
            text-decoration: none;
            color: $light;
            margin: 1rem;

            &:hover{
                text-shadow: 1px 1px 10px black;
            }
        }
        
    }
}

  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width:320px)  {}
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px)  {  }
  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px)  {  }
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px)  {}