* {
    box-sizing: border-box;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    list-style: none;

  }
  
  html,
  body {
    min-height: 100vh;
    position: relative;
    background-color: $secondary-color;

    h1 {
      color: $primary-color;
  }
  }
