//Couleurs

$primary-color: #642E2E;
$secondary-color: #D79A2B;
$light: #F2EDDB;
$green: #798055;
$green2: #C2D17F;
$green3: #72664A;
$green4: #595545;
$green5: #93A862;

// polices

$primary-font: 'Kadwa', serif;
$secondary-font: 'Satisfy', cursive;
