@media (min-width:320px)  {
    .footer{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        height: 4rem;
        position: static;
        
        
        h3{
            font-family: $secondary-font;
            color: $light;
            font-weight: 500;
            margin: 10px;
        }

        .heart {
            margin-right: 2rem;
        }

    
    }
}

@media (min-width:961px)  {
    .footer{

        
        
    }
}